@{
    ViewBag.Title = "Accueil";
}

<div class="jumbotron">
    <h1>Présentation sur les interfaces et les contrats</h1>
	<p>Cliquez sur l'un des éléments de menu ci-dessus pour voir les différentes pages de cette application!</p>
</div>